 .image-container {
	 float: left; 
	 margin-right: 20px;
	 margin-left: 20px;
 }
 
 img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
 
 html, body {
  font-family: 'Georgia', serif;
  font-size: .95em;
  line-height: 1.3em;
  color: "black";
  letter-spacing: -0.01em;
}
 
 a, button {
  color: inherit;
  text-decoration-style: dotted;
  text-underline-offset: 0.1rem;
}

.readmore, .readless {
  font-style: italic;
  background-color: #D5F8BE;
  color: #429410;
}

.footer {
   position: fixed;     
   font-style: italic;
   text-align: center;   
   font-size: .75rem;
   padding-top: 10px;
   margin-top: 10px;
   box-sizing: border-box;
   position: relative;
   bottom: .5rem; 
   width: 100%;
}